.work-exp{
    padding: 2em;
    font-family: 'Lexend', sans-serif; 
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    border-radius: 6px;

}
.exp-comp{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.btns, .next-btn{
    display: flex;
    gap: 1em;
    
}
.btns{
    margin: 0 auto;
}
