*{
    box-sizing: border-box;
}

.myResume{
    height: 100%;
    width: 85%;
    margin:  0 auto;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    column-gap: 20px;
    row-gap: 20px;
    grid-auto-flow: dense;
}

.resume_component{
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;;
    width: fit-content;
    height: fit-content;
    background-color: #F5F5F5;
    padding: 1em;
    font-family: 'Inter', sans-serif;
    color: navy;
    cursor: pointer;
}
.resume_component:hover{
    transform: translateY(-6px);
        
    /* transition-delay: 0.2s; */
}
.resume_details{
    padding: 6px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.resume_details  p{
    margin-top: 4px;
    font-size: 10px;
}

.resume_details h5 {
    font-size: 12.5px;
}
.icons{
    display: flex;
    gap: 8px;
    font-size: 20px;
    color: white;
}
.icon{
    outline: none;
    border: none;
    cursor: pointer;
}
.icon:hover{
    
    color: navy;
   
}