.updateDetials{
    position: relative;
    padding: 2em 4em;
    justify-content: center;
    display: flex;
    gap: 5em;
    flex-wrap: wrap;
}

.tabs{
    font-family: 'karla', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    height: fit-content;
}
.tab{
    padding: 1em 2em;
    width: 14em;
    background-color: white;
    cursor: pointer;
    font-size: 1em;
    border-bottom: 1px solid #f0efeb;
}

.tab:hover{
    color: #f02d3a;
}

.activeTab{
    color: #f02d3a;
    border-left: 4px solid #f02d3a;
    font-weight: 700;
}

@media (max-width: 768px){
    .updateDetials{
        gap: 1.5em;
    }
}

@media( max-width: 912px) {

    .updateDetials{
        gap: 3em;
    }

    .tabs{
        flex-direction: row;
        font-size: 15px;
        box-shadow: none;
        box-shadow: 0 2px 4px black;
    }
    .tab{
        background-color: white;
        padding: 0.5em;
        border-right: 2px solid lightgray ;
        width: fit-content;
       
    }
    .activeTab{
        color: #f02d3a;
        border-bottom: 4px solid #f02d3a;
        font-weight: 700;
        border-left: none;
    }
    .tab:hover{
        color: #f02d3a;
    }
}


@media (max-width: 548px){
    .tab{
        font-size: 13px;
    }
    .updateDetials{
        padding: 1.5em;
    }
}
@media (max-width: 420px){
    .tab{
        font-size: 11.5px;
    }
}